
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<section class="statistic">
    <div id="piechart1" style="width: 600px; height: 400px;"></div>
    <div id="piechart2" style="width: 600px; height: 400px;"></div>
</section>

